#slide01.pin-slide
#slide02.pin-slide
  .title-bg Desire
    br
    |  Augury
#slide03.pin-slide

nav.nav


section.column-1
  .container
    .header
      .side-text-block
        .text-left
          h1 Desire
            br
            |  Augury
          .text-p See inside the workshops to learn about unique expertise via it's different crafts.
      .photo-block
        .photo
          .button
            .arrow
          .text Desire
            br
            |  Augury



section.column-2
  .container

    .title-h1 Essences

    .row
      .col
        .img.img__item-1
          .text
            .num 26
            p earth
          .circle-bg
            .anim-bg.anim-bg__img-1



      .col
        .img.img__item-2
          .text
            .num 08
            p aqua
          .circle-bg
            .anim-bg.anim-bg__img-2


      .col
        .img.img__item-3
          .text
            .num 91
            p freedom
          .circle-bg
            .anim-bg.anim-bg__img-3


section.column-3
  .container
    .row
      .col-1
        .title-anim-js
          h4 experience
          h1 euphoria
          p See inside the vial to learn about unique expireance via crafts emotions

      .col-2
        #box
          .relation-padding
          img(src="images/s3_perfume.png" alt="perfume image")
          #square
            #left-side
            #top-side
            #right-side
            #bottom-side







